<p><em>Game ID:</em> {{ gameId | async }}</p>

<div class="card-row">
    <h2>Common Cards:</h2>
    <img
        [src]='cardToImagePath(card)'
        width="100"
        class="card"
        [class.selected-card]="selectedCommonIndex === i"
        *ngFor="let card of commonCards; let i = index"
        (click)="selectCommonCard(i)"
    >
</div>

<div class="card-row">
    <h2>Your Hand:</h2>
    <img
        [src]='cardToImagePath(card)'
        width="100"
        class="card"
        [class.selected-card]="selectedHandIndex === i"
        *ngFor="let card of handCards; let i = index"
        (click)="selectHandCard(i)"
    >
</div>