<div class="container mt-1">
    <div [hidden]="state.gameView !== GameView.GameLobby">
        <div class="text-center">
            <h4>Passcode:</h4>
        </div>
        <div class="text-center">
            <h3 [innerText]="colyseus.gamePasscode"></h3>
        </div>
        <div class="text-center">
            <p [innerText]="
                selfPlayer?.isHost ?
                'Press Start Game when all players have joined.' :
                'Waiting for the host to start the game...'
            "></p>
            <div class="row justify-content-center">
                <button
                    class="btn btn-primary mb-3"
                    type="button"
                    *ngIf="selfPlayer?.isHost"
                    (click)="startGame()"
                >Start Game</button>
            </div>
        </div>
        <hr />
        <div class="text-center" [formGroup]="optionsForm">
            <h4>Options:</h4>

            <div class="font-italic font-weight-bold mb-3">
                <span *ngIf="!this.selfPlayer?.isHost; else notHostSubtext" class="text-danger">
                    Only the host can edit these options
                </span>
                <ng-template #notHostSubtext>
                    <span class="text-success">
                        You are the host - only you can edit these options
                    </span>
                </ng-template>
            </div>

            <div class="row justify-content-center input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Number of Rounds</span>
                </div>
                <div *ngIf="this.selfPlayer?.isHost; else disabledView">
                    <input
                        formControlName="numRounds"
                        type="number"
                        min="1"
                        max="100"
                        class="form-control"
                        aria-describedby="basic-addon1"
                        (focusout)="onOptionsInputFocusOut()"
                        required
                    >
                </div>

                <ng-template #disabledView>
                    <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon1">
                            {{ optionsForm.controls['numRounds'].value }}
                        </span>
                    </div>
                </ng-template>
            </div>
        </div>
        <hr />
        <div class="text-center">
            <h4>Players connected:</h4>
            <ul class="player-list">
                <li *ngFor="let player of playersAsArray" [innerText]="player.name"></li>
            </ul>
        </div>
        <hr />
    </div> 

    <div [hidden]="state.gameView !== GameView.Swapping">
        <strong class="text-center">
            <p class="mb-1" [innerText]="
                selectedCommonIndex === -1 ?
                'Select a card to swap (top row)' :
                'Select a card to swap (bottom row)'">
            </p>
        </strong>
        <div id="card-canvas-div" class="mt-0">
            <canvas
                id="card-canvas"
                #cardCanvas
            ></canvas>
        </div>
        <strong class="text-center" #handInfo>
            <p *ngIf="selfPlayer" class="mb-1">
                Your hand: <span class="text-primary" [innerText]="selfPlayer.currentHandDesc"></span>
                for <span class="text-primary" [innerText]="selfPlayer.currentHandScore"></span> points
                <br />
                <span *ngIf="selfPlayer.isCurrentlyWinning" class="text-success">Currently winning</span>
                <span *ngIf="!selfPlayer.isCurrentlyWinning" class="text-danger">Currently losing</span>
            </p>
        </strong>
    </div>

    <div *ngIf="state.gameView === GameView.Showdown">
        <div class="text-center">
            <h2 class="mt-3">Showdown!</h2>
            <div class="row justify-content-center">
                <table class="table table-bordered mt-3">
                    <thead class="thead-dark">
                        <tr>
                            <th class="fit" scope="col">Name</th>
                            <th class="fit" scope="col">Hand</th>
                            <th class="fit" scope="col">Total Score</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let result of state.showdownResults">
                            <th class="fit" scope="row">{{ result.playerName }}</th>
                            <td class="fit" >
                                {{ result.hand }}
                                <ng-container *ngIf="result.isWinningHand">
                                    <span class="text-success">(WINNER)</span>
                                </ng-container>
                            </td>
                            <td class="fit" >
                                {{ result.totalScore }}
                                <ng-container *ngIf="result.isWinningHand">
                                    <span class="text-success">(+ {{ result.handScore }})</span>
                                </ng-container>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div *ngIf="state.roundsRemaining === 0">
                <h1>Game Over</h1>
                <h3 *ngIf="state.gameWinners.length === 1; else multipleWinners">
                    <span class="text-primary" [textContent]="state.gameWinners[0]"></span> Wins!
                </h3>

                <ng-template #multipleWinners>
                    <h3>Joint Winners:</h3>
                    <h3>{{ state.gameWinners.join(', ') }}</h3>
                </ng-template>
            </div>

            <div class="fixed-bottom">
                <div *ngIf="state.roundsRemaining > 0">
                    <div class="row justify-content-center">
                        <p class="text-primary font-weight-bold">
                            This game is still open to new players!
                        </p>
                    </div>
    
                    <div class="row justify-content-center">
                        <div>
                            <table class="table table-responsive table-sm table-bordered">
                                <thead>
                                <tr>
                                    <th scope="col">Room Name</th>
                                    <th scope="col">Room ID</th>
                                    <th scope="col">Passcode</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>{{ state.roomName }}</td>
                                    <td>{{ colyseus.room.id }}</td>
                                    <td>{{ colyseus.gamePasscode }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <button
                        *ngIf="state.roundsRemaining > 0; else returnToLobbyButton"
                        class="btn btn-primary mb-3"
                        type="button"
                        [disabled]="isNextRoundClicked"
                        (click)="onNextRoundClicked()"
                    >
                        {{ isNextRoundClicked ? 'Waiting for others...' : 'Next Round' }} [{{ state.numVotedNextRound }} / {{ state.nextRoundVotesRequired }}]
                    </button>

                    <ng-template #returnToLobbyButton>
                        <button
                            class="btn btn-success mb-3"
                            type="button"
                            [disabled]="isNextRoundClicked"
                            (click)="onReturnToLobbyClicked()"
                        >
                            Return to Lobby
                        </button>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>