
<div class="text-center">
    <div class="row justify-content-center">
        <table id="showdown-table" class="table table-bordered mt-3">
            <thead class="thead-dark">
                <tr>
                    <th class="fit" scope="col">Name</th>
                    <th class="fit" scope="col">Hand</th>
                    <th class="fit" scope="col">Total Score</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let result of state.showdownResults">
                    <th class="fit" scope="row">{{ result.playerName }}</th>
                    <td class="fit" >
                        {{ result.hand }}
                        <br />
                        <ng-container *ngIf="result.isWinningHand">
                            <span class="text-success">(ROUND WINNER)</span>
                        </ng-container>
                    </td>
                    <td class="fit" >
                        {{ result.totalScore }}
                        <ng-container *ngIf="result.isWinningHand">
                            <span class="text-success">(+ {{ result.handScore }})</span>
                        </ng-container>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="state.roundsRemaining === 0">
        <h1>Game Over</h1>
        <h3 *ngIf="state.gameWinners.length === 1; else multipleWinners">
            <span class="text-primary" [textContent]="state.gameWinners[0]"></span> Wins!
        </h3>

        <ng-template #multipleWinners>
            <h3>Joint Winners:</h3>
            <h3>{{ state.gameWinners.join(', ') }}</h3>
        </ng-template>
    </div>

    <div class="row justify-content-center">
        <button
            *ngIf="state.roundsRemaining > 0; else returnToLobbyButton"
            class="btn btn-primary mb-3"
            type="button"
            [disabled]="isNextRoundClicked"
            (click)="onNextRoundClicked()"
        >
            {{ isNextRoundClicked ? 'Waiting for others...' : 'Next Round' }} [{{ state.numVotedNextRound }} / {{ state.nextRoundVotesRequired }}]
        </button>

        <ng-template #returnToLobbyButton>
            <button
                class="btn btn-success mb-3"
                type="button"
                [disabled]="isNextRoundClicked"
                (click)="onReturnToLobbyClicked()"
            >
                Return to Lobby
            </button>
        </ng-template>
    </div>

    <div *ngIf="state.roundsRemaining > 0" class="border">
        <div class="row justify-content-center mt-3">
            <div>
                <table class="table table-responsive table-sm table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">Room Name</th>
                        <th scope="col">Room ID</th>
                        <th scope="col">Passcode</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{ state.roomName }}</td>
                        <td>{{ colyseus.room.id }}</td>
                        <td>{{ colyseus.gamePasscode }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row justify-content-center">
            <p>This game is still open to new players!</p>
        </div>
    </div>
</div>
