<div class="container mt-1">
    <strong class="text-center">
        <p class="mb-1" [innerText]="
            selectedCommonIndex === -1 ?
            'Select a card to swap (top row)' :
            'Select a card to swap (bottom row)'">
        </p>
    </strong>
    <app-swapping-canvas [state]="state"></app-swapping-canvas>
    <strong class="text-center">
        <p *ngIf="selfPlayer" class="mb-1">
            Your hand: <span class="text-primary" [innerText]="selfPlayer.currentHandDesc"></span>
            for <span class="text-primary" [innerText]="selfPlayer.currentHandScore"></span> points
            <br />
            <span *ngIf="selfPlayer.isCurrentlyWinning" class="text-success">Currently winning</span>
            <span *ngIf="!selfPlayer.isCurrentlyWinning" class="text-danger">Currently losing</span>
        </p>
    </strong>
</div>