<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="input-group input-group-lg">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-lg"
          >Username</span
        >
      </div>
      <input
        type="text"
        class="form-control"
        aria-label="Large"
        placeholder="Choose a name"
      />
    </div>

    <div class="input-group input-group-lg mt-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-lg"
          >Create Game</span
        >
      </div>
      <input
        type="text"
        class="form-control"
        aria-label="Large"
        placeholder="Room Name"
      />
      <input
        type="text"
        class="form-control"
        aria-label="Large"
        placeholder="Password"
      />
      <div class="input-group-append">
        <button class="btn btn-outline-primary" type="button" (click)="createRoom()">Create</button>
      </div>
    </div>
  </div>
  <hr />
  <div class="row justify-content-center">
    <h3>Join a Game</h3>
  </div>
  <div class="row justify-content-center">
    <ul *ngIf="colyseus.allRooms?.length; else noRooms" class="list-group">
      <li
        class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
        *ngFor="let room of colyseus.allRooms"
        (click)="joinGame(room.roomId)"
      >
        Room ID: {{ room.roomId }}
        <span class="badge badge-danger ml-3">3/8 Players</span>
      </li>
    </ul>
    <ng-template #noRooms>
      <p><em>(no rooms available at the moment)</em></p>
    </ng-template>
  </div>
</div>
