
#card-canvas-div {
    width: 100%;
    text-align: center;
    margin-top: 1em;
}

#card-canvas {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
    border: 2px solid gray;
    border-radius: 5px;
    display: inline;
}
